[submodule "RL-OtherApps/randolph_lottery"]
	path = RL-OtherApps/randolph_lottery
	url = git@github.com:RL-OtherApps/randolph_lottery.git
	branch = master

[submodule "RLJO/KRS1"]
	path = RLJO/KRS1
	url = git@github.com:RLJO/KRS1.git
	branch = master
